mixin scripts(data)
  script(src='%=static=%js/separate-js/svg4everybody.min.js')
  script svg4everybody();

  script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
  script(src='%=static=%js/main%=hash=%%=min=%.js')