mixin product-list(data)
    .product-list
        .product-list__content.product-list__content--hide
        .product-list__empty
            .product-list__empty-text По вашему запросу ничего не найдено
        .product-list__preloader
            .product-list__preloader-block
